<div class="image-wrapper">

	<img src="{{ include.url }}" alt="{{ include.description }}" />
	<div>
		<small>
		<a href='https://www.flickr.com/photos/21496790@N06/5065834411/' target='_blank'></a>
		<a rel='license' href='http://creativecommons.org/licenses/by/2.0/' target='_blank'>
		CC-license by
		</a>
		<a href='{{ include.personUrl }}' target='_blank'></a>
		<a rel='cc:attributionURL' property='cc:attributionName' href='{{ include.personUrl }}' target='_blank'>{{include.person}}</a>
		</small>
	</div>
</div>
